{% if session('success') %}
<button style="display: none;" id="notif-success" class="btn btn-success" type="button" data-notify=""
        data-message="{{session('success')}} <em class='icon-check'></em>"
        data-options="{&quot;status&quot;:&quot;success&quot;}">Success</button>
{% endif %}

{% if session('error') %}
<button style="display: none;" id="notif-error" class="btn btn-danger" type="button" data-notify="" data-message="{{session('success')}}}"
        data-options="{&quot;status&quot;:&quot;danger&quot;}">Danger</button>
{% endif %}
